/*
 * Format as -*- c++ -*- source.
 */

a {
	color: #000099;
}

a:hover {
	color: #0000ff;
}

h2 {
	background-color: #ffffff;
	color: #000055;
	border: 1px solid #bbbbdd;
	padding-left: 10px;
}

td {
	white-space: nowrap;
}

img {
	border: none;
}

hr {
	color: #000066;
}

p {
	position: relative;
	left: 20px;
}

code {
	position: relative;
	left: 20px;
	font: normal normal 1.0em courier;
}

td.banner {
	padding-left: 50px;
	color: #9999aa;
}

td.menu {
	vertical-align: top;
	border: 2px solid #eeeeee;
	padding-right: 10px;
	padding-left: -25px;
}

td.body, div.body {
	vertical-align: top;
	border: 2px solid #eeeeee;
	padding-left: 20px;
	padding-right: 20px;
	width: 85%;
}

td.body td {
	padding-left: 10px;
	padding-right: 10px;
}

td.footer, td.footer a {
	color: #999999;
	vertical-align: top;
	width: 50%;
}

td.footer a:hover {
	color: #666666;
}

td.copyright {
	text-align: right;
	vertical-align: top;
	width: 50%;
}

div.indent {
	left: 20px;
}

#info {
        border: 1px solid #999999;
	margin: 2px;
	margin-right: 10px;
	padding: 4px;
	background: #f6f6c0;
}

#secthead {
        color: #000066;
	text-decoration: underline;
	font: normal bold 1.2em arial;
}

div.top {
	background: #dcdcdc url("../images/shadow.gif") repeat-x;
	height: 15px;
	border-top: 1px solid #cccccc;
}

div.menuhead {
	text-align: left;
	font-weight: bold;
	background: #dcdcdc url('../images/menuhead.gif') left top repeat-x;
	border: 1px solid #cccccc;
	margin-left: 5px;
	margin-top: 10px;
}

ul.menu {
	position: relative;
	list-style-type: none;
	left: -20px;
}

/*
 * Tab menu:
 */
#tabmenu ul {
        list-style: none;
	padding: 0;
	margin: 0;
}

#tabmenu li {
        display: inline;
	margin: 0 2px 0 0;
	border: 1px solid #dddddd;
}

#tabmenu a {
        padding: 0 1em;
	text-decoration: none;
	background: #eeeeee;
	color: #000000;
}

#tabmenu a:hover {
        background: #cccccc;
}0123456789a
	
#tabmenu #selected {
}

#tabmenu #selected a {
        padding-bottom: 2px;
	font-weight: bold;
	color: black;
	color: black;
	background: #dddddd;
}
