#!/bin/sh
# 
# Start/stop/restart batchelor-processor (the scheduled job processor) for 
# Slackware GNU/Linux
#
# Author: Anders Lövgren <andlov@nowise.se>
# Date:   2018-11-24
#

options="--user=apache --group=apache --pidfile=/var/run/batchelor.pid"

# Start batchelor-processor:
batchelor_processor_start() {
  if [ -x /usr/local/bin/batchelor-processor ]; then
    echo "Starting batchelor job processor:  /usr/local/bin/batchelor-processor"
    /usr/local/bin/batchelor-processor $options
  fi
}

# Stop batchelor-processor:
batchelor_processor_stop() {
  if [ -x /usr/local/bin/batchelor-processor ]; then
    echo "Stopping batchelor job processor"
    killall batchelor-processor
  fi
}

# Restart batchelor-processor:
batchelor_processor_restart() {
  batchelor_processor_stop
  sleep 1
  batchelor_processor_start
}

case "$1" in
'start')
  batchelor_processor_start
  ;;
'stop')
  batchelor_processor_stop
  ;;
'restart')
  batchelor_processor_restart
  ;;
*)
  echo "usage $0: start|stop|restart"
esac
